.App {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

.task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.task-form input {
    width: 70%;
    height: 40px;
    padding: 0 15px;
}

.task-form button {
    width: 20%;
    height: 44px;
    cursor: pointer;
}

.task {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.task p {
    width: 80%;
    height: auto;
    margin: 0;
}

.task span {
    width: 15%;
    height: auto;
    text-align: center;
    cursor: pointer;
}